In [0]:
import pandas as pd
import schedule
import time

In [6]:
!pip install schedule

Requirement already satisfied: schedule in /usr/local/lib/python3.6/dist-packages (0.6.0)

In [0]:
df = pd.DataFrame(data, columns=['commutator', 'mistake', 'forecast_time'])
commutator = [raise]

In [0]:
def total_df():
  df1 = pd.read_csv('/content/drive/My Drive/generated_data/cpu_utilization.csv', sep=';', header=None)
  df1.columns = ['time', 'res']
  df3 = pd.read_csv('/content/drive/My Drive/generated_data/load_plat.csv', sep=';', header=None)
  df3.columns = ['time', 'res']
  df4 = pd.read_csv('/content/drive/My Drive/generated_data/number_mac.csv', sep=';', header=None)
  df4.columns = ['time', 'res']
  df5 = pd.read_csv('/content/drive/My Drive/generated_data/temp_plat.csv', sep=';', header=None)
  df5.columns = ['time', 'res']
  df2 = pd.read_csv('/content/drive/My Drive/generated_data/temp_slot.csv', sep=';', header=None)
  df2.columns = ['time', 'res']

  tmp = pd.concat([df1.time, df1.res, df2.res, df3.res, df4.res, df5.res], axis=1, sort=False)
  df = pd.DataFrame(tmp)
  df.columns = ['time', 'cpu_utilization',  'temp_slot', 'load_plat', 'number_mac','temp_plat']
  df['comm'] = 'raisecom'

  df.to_csv('/content/drive/My Drive/generated_data/commutators_san.csv')

In [0]:
def analys(path):
  df = pd.read_csv('/content/drive/My Drive/generated_data/commutators_san.csv')
  df.columns = ['ind', 'time', 'cpu_utilization',  'temp_slot', 'load_plat', 'number_mac','temp_plat', 'commut']
  df['status'] = '0'

  for ind, row in df.iterrows():
    if (row.temp_slot > 60 and row.temp_slot < 80) or  (row.temp_plat > 60 and row.temp_plat < 80) or  (row.cpu_utilization > 0.65 and row.cpu_utilization < 0.8) or (row.load_plat > 0.65 and row.load_plat < 0.8):
      df.iloc[ind, 8] = 1

    elif (row.temp_slot >= 80) or (row.temp_plat >= 80) or (row.cpu_utilization >= 0.8) or (row.load_plat >= 0.8) or (row.number_mac >= 10000000) :
      df.iloc[ind, 8] = 2

    else:
      df.iloc[ind, 8] = 0
  
  return df

In [29]:
analys('/content/drive/My Drive/generated_data/commutators_san.csv')

     ind                        time  ...    commut  status
0      0  2020-05-04 22:11:51.753338  ...  raisecom       0
1      1  2020-05-04 22:12:51.837587  ...  raisecom       0
2      2  2020-05-04 22:13:51.934030  ...  raisecom       0
3      3  2020-05-04 22:14:52.012868  ...  raisecom       0
4      4  2020-05-04 22:15:52.091449  ...  raisecom       0
..   ...                         ...  ...       ...     ...
368  368  2020-05-05 04:21:51.614511  ...  raisecom       0
369  369  2020-05-05 04:22:51.695593  ...  raisecom       0
370  370  2020-05-05 04:23:51.777105  ...  raisecom       0
371  371  2020-05-05 04:24:51.858190  ...  raisecom       0
372  372  2020-05-05 04:25:51.952467  ...  raisecom       0

[373 rows x 9 columns]

In [0]:
schedule.every(1).minutes.do(total_df)
while True:
    schedule.run_pending()
    time.sleep(1)

In [0]:
df.head()

In [0]:
df1 = pd.read_csv('/content/drive/My Drive/generated_data/cpu_utilization.csv', sep=';', header=None)
df1.columns = ['time', 'res']
df3 = pd.read_csv('/content/drive/My Drive/generated_data/load_plat.csv', sep=';', header=None)
df3.columns = ['time', 'res']
df4 = pd.read_csv('/content/drive/My Drive/generated_data/number_mac.csv', sep=';', header=None)
df4.columns = ['time', 'res']
df5 = pd.read_csv('/content/drive/My Drive/generated_data/temp_plat.csv', sep=';', header=None)
df5.columns = ['time', 'res']
df2 = pd.read_csv('/content/drive/My Drive/generated_data/temp_slot.csv', sep=';', header=None)
df2.columns = ['time', 'res']

In [0]:
df1.head()